<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'home:index' %}">صفحه اصلی</a>
            <span class="text text-warning mt-2">|</span>
            <a class="nav-link active" href="{% url 'accounts:register' %}">عضویت</a>
            <span class="text text-warning mt-2">|</span>
            {% if request.user.is_admin %}
            <a class="nav-link active" href="{% url 'home:bucket' %}">باکت</a>
            {% endif %}

        </div>
    </div>

</nav>

